header{
    display: flex;
    justify-content: center;
	font-size: 36px;
}
main{
    display: flex;
    min-height: 70vh;
}
.column{
    flex: 1;
}
table, td, th{
border: 1px solid black;
border-collapse: collapse;
text-align: center;
padding: 10px;
}
table{
	width: 300px;
	height: 300px;
}
th{
    background-color: lightblue;
}
.lgreen{
    background-color: lightgreen;
}
.green{
    background-color: green;
}
footer{
    display: flex;
    justify-content: space-between;
}


